#content {
	h2 {
		margin: .5em 0;
	}

	.map {
		border: thin solid white;
	}

	.row, .column {
		display: flex;
		width: 100%;
	}

	.row {

	}

	.column {
		flex-direction: column;

		&.half {
			width: 50%;
		}
	}
}