#content .row h2 {
  margin-top: 0;
}
#content address {
  margin: 1em 0;
  font-size: 110%;
  font-style: normal;
  color: gold;
  text-shadow: black 0 0 1px;
}
#content #map {
  flex-shrink: 0;
  width: 500px;
}
#content #map iframe {
  border: thin solid white;
}