#content input {
  border-radius: 4px 0 0 4px;
  padding: .5em .75em;
  border: 1px solid grey;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
}
#content input:focus {
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px inset;
}
#content button {
  border-radius: 0 4px 4px 0;
  padding: .5em .75em;
  margin-left: -1px;
  border: 1px solid grey;
  background: #eee;
  flex-shrink: 0;
}
#content button:hover {
  background: #ddd;
  cursor: pointer;
}
#content button:active {
  background: #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px inset;
}