body,
div,
header,
footer,
ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.wf-loading {
  visibility: hidden;
}
html {
  height: 100%;
}
html body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font: 14px Lobster, sans-serif;
  background: #9dc2c3;
  color: white;
  align-items: center;
}
html body header {
  padding: 1em;
  text-align: center;
}
html body header h1 {
  font-size: 300%;
}
html body header h2 {
  font-size: 150%;
}
html body nav {
  width: 700px;
  border: solid white;
  border-width: thin 0;
  padding: 0 .5em;
}
html body nav ul {
  display: flex;
  width: 100%;
}
html body nav ul li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  font-size: 120%;
}
html body nav ul li a {
  display: block;
  padding: 0.5em;
}
html body nav ul li a:hover {
  background: white;
  color: #9cc1c2;
}
html body #content {
  width: 700px;
  flex-grow: 1;
  padding: 1em;
}
html body footer {
  padding: 0.5em;
}