@{
	ViewBag.Title = "Accommodation";
}

@section Head {
	<link href="~/Content/Accommodation.min.css" rel="stylesheet" />
}

<h2>Accommodation</h2>
<p>On site accommodation is being provided to all guests for the full weekend - Friday, Saturday and Sunday nights. As we have paid for accommodation directly, we are asDouble for a contribution of £100 per person. All food and drink will be provided. Details of how to pay will be sent via email once we've received your @Html.ActionLink("RSVP", "RSVP").</p>
<p>There are a range of sleeping configurations in the village (doubles, twins, singles and dorms). We'll work with you individually, nearer the time, to agree who's staying with who!</p>

<h2>Guest Houses</h2>
<p>Details of the houses are below. We will work with you and the venue nearer the date to allocate people!</p>
<div class="row">
	<div class="list">
		<h3>Antonin (9)</h3>
		<p>Double</p>
		<p>Double + Single</p>
		<p>Single + Triple (Mezzanine)</p>
	</div>
	<div class="list">
		<h3>Bartherote (5)</h3>
		<p>Double</p>
		<p>Triple</p>
	</div>
	<div class="list">
		<h3>Cadeilhan (4)</h3>
		<p>Double</p>
		<p>Double</p>
	</div>
	<div class="list">
		<h3>Cadeot (4)</h3>
		<p>Double</p>
		<p>Double</p>
	</div>
</div>
<div class="row">
	<div class="list">
		<h3>Cassagnet (8)</h3>
		<p>Double + Single</p>
		<p>Double</p>
		<p>Double</p>
		<p>Single</p>
	</div>
	<div class="list">
		<h3>Chevrier (4)</h3>
		<p>Double</p>
		<p>Twin</p>
	</div>
	<div class="list">
		<h3>Dastros (3)</h3>
		<p>Double</p>
		<p>Single</p>
	</div>
	<div class="list">
		<h3>Filiat (4)</h3>
		<p>Double</p>
		<p>Double</p>
	</div>
</div>
<div class="row">
	<div class="list">
		<h3>Preissac (6)</h3>
		<p>Double</p>
		<p>Double</p>
		<p>Double</p>
	</div>
	<div class="list">
		<h3>Pujol (3)</h3>
		<p>Double</p>
		<p>Single</p>
	</div>
	<div class="list">
		<h3>Renard (2)</h3>
		<p>Double</p>
	</div>
	<div class="list">
		<h3>Tilladet (11)</h3>
		<p>Double</p>
		<p>Triple</p>
		<p>Twin</p>
		<p>Twin</p>
		<p>Twin</p>
	</div>
</div>