@{
	ViewBag.Title = "Location";
}

@section Head {
	<link href="~/Content/Location.css" rel="stylesheet" />
}

<div class="row">
	<div class="column">
		<h2>Location</h2>
		<p>
			Join us for a weekend at Castlenau des Fieumarcon which is located in Gascony, Midi-Pyrenees, South-West France.<br/>
		</p>
		<address>
			Castelnau des Fieumarcon<br />
			32700<br />
			Lagarde-Fimarcon<br />
			France
		</address>
	</div>
	<div class="column map">
		<iframe class="map" width="500" height="300" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXyKnMARTvqfyo4aqYIu4i-ikx1oI86qw&q=Castelnau des Fieumarcon&zoom=5&center=46, 0.5"></iframe>
	</div>
</div>

<h2>Directions</h2>
<div class="row">
	<div class="column">
		<h3>Toulouse Airport</h3>
		<p>1 hour 30 minutes</p>
		<p>From: Gatwick</p>
		<p>British Airways</p>
		<p>easyJet</p>
		<p>From: Heathrow</p>
		<p>British Airways</p>
		<p>rental offices</p>
	</div>
	<div class="column">
		<h3>Bordeaux Airport</h3>
		<p>1 hour 50 minutes</p>
		<p>From: Gatwick</p>
		<p>British Airways</p>
		<p>easyJet</p>
		<p>From: Heathrow</p>
		<p>tbc</p>
		<p>rental offices</p>
	</div>
</div>

<h2>Arrival</h2>