@{
	ViewBag.Title = "Location";
}

@section Head {
	<link href="~/Content/Location.min.css" rel="stylesheet" />
}

<div class="row">
	<div>
		<h2>Venue</h2>
		<p>Join us for a weekend-long celebration in Gascony, France.<address>
			Castelnau des Fieumarcon<br />
			32700<br />
			Lagarde-Fimarcon<br />
			France
		</address>
		<p>On arrival, please park on the green outside the 'mairie' then head towards the gatehouse where someone will be there to welcome you.</p>
	</div>
	<div id="map">
		<iframe width="500" height="300" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXyKnMARTvqfyo4aqYIu4i-ikx1oI86qw&q=Castelnau des Fieumarcon&zoom=5&center=46, 0.5"></iframe>
	</div>
</div>

<h2>Directions</h2>
<p>These are our recommendations for getting to the venue - both good options. Click on 'hire a car' for a great rental site.</p>
<div class="row">
	<div class="thin">
		<p>Fly to &hellip;</p>
	</div>
	<div>
		<p>Toulouse (Blagnac)</p>
	</div>
	<div class="thin">
		<p>From &hellip;</p>
	</div>
	<div class="list">
		<p>Heathrow (BA)</p>
		<p>Gatwick (easyJet)</p>
		<p>Bristol (easyJet)</p>
		<p>Manchester (Jet2)</p>
	</div>
	<div class="thin">
		<p>Then &hellip;</p>
	</div>
	<div class="list">
		<p><a href="#">Hire a Car</a></p>
		<p>Take a Taxi (£30)</p>
	</div>
	<div>
		<p>1 hour 30 minutes to the Venue.</p>
	</div>
</div>
<div class="row">
	<div class="thin">
		<p>Fly to &hellip;</p>
	</div>
	<div>
		<p>Bordeaux (Mérignac)</p>
	</div>
	<div class="thin">
		<p>From &hellip;</p>
	</div>
	<div class="list">
		<p>Gatwick (BA, easyJet)</p>
		<p>Luton (easyJet)</p>
	</div>
	<div class="thin">
		<p>Then &hellip;</p>
	</div>
	<div class="list">
		<p><a href="#">Hire a Car</a></p>
		<p>Take a Taxi (£40)</p>
	</div>
	<div>
		<p>1 hour 50 minutes to the Venue.</p>
	</div>
</div>