@model Wedding.Models.RSVP

@{
	ViewBag.Title = "RSVP";
}

@section Head {
	<link href="~/Content/RSVP.min.css" rel="stylesheet" />
}

<h2>RSVP</h2>
<p>Thanks to those who already responded to our save the date. This is a formal invite, so please complete this new form once you're sure you can make it.<p>
<p>All guests are welcome to bring a plus one, expected to be your signicant partner. Children are also welcome.</p>

<form action="Thanks" method="post">
	<div class="row">
		@Html.TextBoxFor(a => a.Names, new { @autocomplete = false, @placeholder = "Guest Names in Full" })
		<button class="thin" type="submit">Submit</button>
	</div>
</form>